@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?65939191');
    src: url('../font/fontello.eot?65939191#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?65939191') format('woff'),
    url('../font/fontello.ttf?65939191') format('truetype'),
    url('../font/fontello.svg?65939191#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?65939191#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before {
    content: '\e800';
}

/* '' */
.icon-cup:before {
    content: '\e801';
}

/* '' */
.icon-pencil:before {
    content: '\e802';
}

/* '' */
.icon-lightbulb:before {
    content: '\e803';
}

/* '' */
.icon-user:before {
    content: '\e804';
}

/* '' */
.icon-calendar:before {
    content: '\e805';
}

/* '' */
.icon-sound:before {
    content: '\e806';
}

/* '' */
.icon-beaker:before {
    content: '\e807';
}

/* '' */
.icon-search:before {
    content: '\e808';
}

/* '' */
.icon-emo-happy:before {
    content: '\e809';
}

/* '' */
.icon-note:before {
    content: '\e80a';
}

/* '' */
.icon-money:before {
    content: '\e80b';
}

/* '' */
.icon-emo-grin:before {
    content: '\e80c';
}

/* '' */
.icon-emo-wink2:before {
    content: '\e80d';
}

/* '' */
.icon-emo-laugh:before {
    content: '\e80e';
}

/* '' */
.icon-spin5:before {
    content: '\e80f';
}

/* '' */
.icon-spin4:before {
    content: '\e810';
}

/* '' */
.icon-spin6:before {
    content: '\e811';
}

/* '' */
.icon-eye:before {
    content: '\e812';
}

/* '' */
.icon-quote-left:before {
    content: '\e813';
}

/* '' */
.icon-quote-right:before {
    content: '\e814';
}

/* '' */
.icon-ok:before {
    content: '\e815';
}

/* '' */
.icon-music:before {
    content: '\e816';
}

/* '' */
.icon-heart:before {
    content: '\e817';
}

/* '' */
.icon-lock:before {
    content: '\e818';
}

/* '' */
.icon-eye-1:before {
    content: '\e819';
}

/* '' */
.icon-tag:before {
    content: '\e81a';
}

/* '' */
.icon-thumbs-up:before {
    content: '\e81b';
}

/* '' */
.icon-comment:before {
    content: '\e81c';
}

/* '' */
.icon-doc:before {
    content: '\e81d';
}

/* '' */
.icon-cloud:before {
    content: '\e81e';
}

/* '' */
.icon-paper-plane:before {
    content: '\e81f';
}

/* '' */
.icon-megaphone:before {
    content: '\e820';
}

/* '' */
.icon-shop:before {
    content: '\e821';
}

/* '' */