
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-graduation-cap:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
.icon-beaker:before { content: '\e808'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-comment:before { content: '\e80a'; } /* '' */
.icon-rss:before { content: '\e80b'; } /* '' */
.icon-weibo:before { content: '\e80c'; } /* '' */
.icon-github-circled:before { content: '\e80d'; } /* '' */
.icon-heart-1:before { content: '\e80e'; } /* '' */
.icon-rocket:before { content: '\e80f'; } /* '' */
.icon-lock:before { content: '\e810'; } /* '' */