
.icon-location:before { content: '\e800'; } /* '' */
.icon-cup:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-sound:before { content: '\e806'; } /* '' */
.icon-beaker:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-emo-happy:before { content: '\e809'; } /* '' */
.icon-note:before { content: '\e80a'; } /* '' */
.icon-money:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-wink2:before { content: '\e80d'; } /* '' */
.icon-emo-laugh:before { content: '\e80e'; } /* '' */
.icon-spin5:before { content: '\e80f'; } /* '' */
.icon-spin4:before { content: '\e810'; } /* '' */
.icon-spin6:before { content: '\e811'; } /* '' */
.icon-eye:before { content: '\e812'; } /* '' */
.icon-quote-left:before { content: '\e813'; } /* '' */
.icon-quote-right:before { content: '\e814'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-music:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-eye-1:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-thumbs-up:before { content: '\e81b'; } /* '' */
.icon-comment:before { content: '\e81c'; } /* '' */
.icon-doc:before { content: '\e81d'; } /* '' */
.icon-cloud:before { content: '\e81e'; } /* '' */
.icon-paper-plane:before { content: '\e81f'; } /* '' */
.icon-megaphone:before { content: '\e820'; } /* '' */
.icon-shop:before { content: '\e821'; } /* '' */